<!DOCTYPE HTML>
<html>
<head>
 <meta charset="UTF-8">
<!--JavaScript-->
<script src="{{STATIC_URL}}js/jquery.js"></script>
<script src="{{STATIC_URL}}js/script.js"></script>
<script src="{{STATIC_URL}}js/bootstrap.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-dropdown.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-tab.js"></script>
<script src="{{STATIC_URL}}js/horario.js"></script>
<script src="{{STATIC_URL}}js/jquery.notice.js" type="text/javascript"></script>
{% block archivos_js %}{% endblock %}

<!--Hojas de Estilo-->
<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
<link "{{STATIC_URL}}css/profesor/jquery.notice.css" type="text/css" media="screen" rel="stylesheet" />


{% block archivos_css %}{% endblock %}

<script type="text/javascript">
	$(".dropdown-toggle").dropdown-toggle
</script>

<script type="text/javascript"> 
	
	$(document).ready(function()
	{
					$('.guardar').click(function()
		{
			jQuery.noticeAdd({
				text: 'Calificaciones guardadas correctamente',
				stay: false,
				type: 'success'
			});
		});
		$('.cancelar').click(function()
		{
			jQuery.noticeAdd({
				text: 'Usted ha cancelado la operacion',
				stay: false,
				type: 'error'
			});
		});
		
	});
</script>


	<title>SAESCOM</title>

</head>

<body>
	<div id="header">
		<img src="{{STATIC_URL}}img/banner.png">
	</div>

	<div id="wrapper"> <!--Contenedor principal-->
		
		<div id="navbar"> <!--Segundo header con imagen de escom-->
			<img src="{{STATIC_URL}}img/escom.gif">
			<div id='navbar-left'></div>
			<div id='navbar-right'>
				<div id="login">
				<p><span id="usuario-nombre">Maldonado Castillo Idalia</span><br>
				<span id="usuario-tipo">Profesor | Coordinador de Materia</span>
				<span id="usuario-id">RFC123456789</span></p>
				
				<p>
					<a href="/profesor_miperfil">Perfil</a>
					<a href="/profesor_preferencias">Preferencias</a>
					<a href="/profesor_logout">Cerrar Sesión</a>
				</p>
				</div>
			</div>
		</div>

				<div class='spacer'></div> <!--Especio de separacion-->

					<ul id="navegacion" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position:static; margin-bottom: 5px; *width: 180px; ">




			            <li><a href="/profesor_main">Mi Horario</a></li>
			            <li class="divider"></li>
			            <li><a href="/profesor_mis_grupos">Mis Grupos</a></li>
			            <li class="divider"></li>
			            <li class="dropdown-submenu">
			              <a tabindex="-1" href="#">Calificar</a>
			              <ul class="dropdown-menu">

			              <li><a href="/profesor_registrar_calificaciones">Ordinaria</a></li>
			              <li><a href="/profesor_registrar_calificaciones">Extraordinaria</a></li>
			              <li><a href="/profesor_registrar_calificaciones">ETS</a></li>
			              </ul>
			            </li>
			            <li class="divider"></li>

			          <li><a href="/directorio">Directorio</a></li>
			          <li class="divider"></li>
				        <li class="dropdown-submenu">
				             <a tabindex="-1" href="#">Reportes</a>
				              <ul class="dropdown-menu">

				                <li><a href="/profesor_reportes_PRUI08_1">Lista Alumnos</a></li>
                 				<li><a href="/profesor_reportes_PRUI08_2">Evaluaciones Alumnos</a></li>
				              </ul>
				         </li>
				         <li class="divider"></li>
			            <li><a href="/profesor_calendario">Calendario</a></li>
			            <li class="divider"></li>
			            <li><a href="/profesor_tutorias">Tutorías</a></li>
			            <li class="divider"></li>
      				</ul>
      	



		<div id="content"> <!--Panel de contenido-->
			{% block contenido %}{% endblock %}
		</div>

		<div class='spacer'></div> <!--Especio de separacion-->
		
		<div id="footer">
			<p>2013 Escuela Superior de Cómputo<a href="">Ayuda</a></p>
		</div>


	</div>	 <!--Cierra contenedor principal-->


</body>
</html>

