{% extends 'profesor/base.html' %}

{% block archivos_css  %}

	<style>
	.success {
		background-color:
	 #090;
	}
	.error {
		background-color:#900;
	}
	</style>
  
{% endblock %}

{% block archivos_js  %}

	
{% endblock %}

{%  block contenido %}


				<h1>Calificaciones</h1></br>
					<h3>Ingrese Calificaciones.</h3></br>
				<center>
				<h4>Grupo : 2CM4</h4>
			<table>
				<tr>
					<td>Nombre del Alumno</td>
					<td>Calificación</td>
				</tr>
				<tr>
					<td>Juan Rodríguez Ramírez</td>
					<td><input type="text" value="6"></td>
				</tr>
				<tr>
					<td>Juan Rodríguez Ramírez</td>
					<td><input type="text" value="6"></td>
				</tr>
				<tr>
					<td>Juan Rodríguez Ramírez</td>
					<td><input type="text" value="6"></td>
				</tr>
			</table>
			<input class="guardar" type="Button" value="Guardar"/>

			<input class="cancelar" type="Button" value="Cancelar"/>
			</center>
		
{% endblock %}

