{% extends 'profesor/base.html' %}

{% block archivos_css  %}

<link rel="stylesheet" href="{{STATIC_URL}}css/horarioProfesor.css">
	
{% endblock %}

{%  block contenido %}

			<div id="innerContent">
					<h1 id="titulo">Mi Horario</h1>
					<br>
					<div id="container-tabla-horario">
					<table id='tabla-horas'>
						<tr><td>07.00<br>08.30</td></tr>
						<tr><td>08.30<br>10.00</td></tr>
						<tr><td>10.30<br>12.00</td></tr>
						<tr><td>12.00<br>13.30</td></tr>
						<tr><td>13.30<br>15.00</td></tr>
					</table>
						<table id="tabla-horario">
							
							<tr>
								<td class="m1">Ingeniería de Software<br>3CM1</td>
								<td class='m2'>Ingeniería de Software<br>3CM2</td>
								<td class='m2'>Ingeniería de Software<br>3CM2</td>
								<td class="m1">Ingeniería de Software<br>3CM1</td>
								<td class='m2'>Ingeniería de Software<br>3CM2</td>
							</tr>
							<tr>
								<td>x</td>
								<td>x</td>
								<td>x</td>
								<td>x</td>
								<td class="m1">Ingeniería de Software<br>3CM1</td>
							</tr>
							<tr>
								<td>x</td>
								<td class='m3'>Análisis y Diseño Orientado a Objetos<br>3CM4</td>
								<td class='m3'>Análisis y Diseño Orientado a Objetos<br>3CM4</td>
								<td>x</td>
								<td class='m3'>Análisis y Diseño Orientado a Objetos<br>3CM4</td>
							</tr>
							<tr>
								<td>x</td>
								<td>x</td>
								<td>x</td>
								<td>x</td>
								<td>x</td>
							</tr>
							<tr>
								<td>x</td>
								<td>x</td>
								<td>x</td>
								<td>x</td>
								<td>x</td>
							</tr>
						</table>
					</div>
					<div id="container-infobar-horario">
					<table id="tabla-infobar-horario">
						<tr><td class="m1">Ingeniería de Software<br>3CM1</td></tr>
						<tr><td class="m2">Ingeniería de Software<br>3CM2</td></td></tr>
						<tr><td class="m3">Análisis y Diseño Orientado a Objetos<br>3CM4</td></td></tr>
					</table>
					</div>
				</div>

{% endblock %}

	
			


		
