
@charset "utf-8";


#reportes{
	margin-left:10%; 
	font-weight:bold;
	font-size:16pt;
	text-transform:uppercase;
	text-align: center;
	height: 100%;
}
#reportes p{
		font-size:10pt;
		text-align: left;
		margin-top: 3%;
}

#reportes button{
}

embed{
	float: left;
	margin-top: 0px;
	width: 90%;
	height: 60%;
	margin-right: 10%;
}