
{% extends 'profesor/base.html' %}

{% block archivos_css  %}
	
{% endblock %}

{% block archivos_js  %}
	
{% endblock %}


{%  block contenido %}

<!-- area de trabajo -->
			<h1 id='titulo'>Directorio</h1>
			<center>
			<br>
			<h2>Buscar Profesores</h2>
			<input list='profesores' style='width:250px'>
			<datalist id='profesores'>
			<option>MALDONADO CASTILLO IDALIA</option>
			<option>SUÁREZ PÉREZ ALFREDO</option>
			</datalist>

			<button class="btn" onclick="location.href ='/perfiles_profesor'">Buscar...</button>
			<br>
			<br>
			<br>
			<h2>Buscar Materias</h2>
			
			<input list='materias' style='width:250px'>
			<datalist id='materias'>
			<option>Ingeniería de Software</option>
			<option>Análisis y Diseño Orientado a Objetos</option>
			<option>Análisis de Algoritmos</option>
			</datalist>
			<button class="btn" onclick="location.href = '/perfiles_materia'">Buscar ...</button>
			
			<br>
			<br>
			<br>
			
			<h2>Buscar Grupos</h2>
			
			<input list='grupos' style='width:250px'>
			<datalist id='grupos'>
			<option>3CM3</option>
			<option>3CM4</option>
			<option>3CM5</option>
			</datalist>
			<button  class="btn" onclick="location.href = '/perfiles_grupo'">Buscar ...</button>
			
			</center>

{% endblock %}

	
			