{% extends 'profesor/base.html' %}

{% block archivos_css  %}

<link rel="stylesheet" href="{{STATIC_URL}}css/profesor/reportes/reportes.css">
	
{% endblock %}

{% block archivos_js  %}
	
{% endblock %}


{%  block contenido %}

<div id="reportes">
				Reporte de evaluaciones de alumnos
				<p>
					Seleccione el grupo: 
					<select><option >2CV4</option></select>
					<button class="btn" >Aceptar</button>
				</p> 
					<embed src="{{MEDIA_URL}}reporte.pdf" >
					<br>
		 <button class="btn" style="float: left; margin-left: 60px;" onclick="location.href='/profesor_main'">Regresar</button>
					<br>
					
			</div>
		


{% endblock %}

			