/*estilo del horario*/
#tabla-horario{
	width:100%;
	height:100%;
	text-align:center;
	
}

#container-tabla-horario{
	width:500px;
	height:300px;
}

#tabla-horario td{
	height:20%;
	width:20%;
	background-color:#1169A3;
	border-radius:5px;
}

#tabla-horario td.m1{
	background-color:red;
}

#tabla-horario td.m2{
	background-color:#ffcc00;
}

#tabla-horario td.m3{
	background-color:orange;
}