
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/*
	COLORES QUE SE OCUPARON
	Guinda Politécnico: 	;
	Azul ESCOM: #1169A3;
*/

html, body{
	height:100%;
	margin:0;
	padding:0;
	font-family:'Open Sans', sans-serif;
	/*background-color:#cccccc;*/	
}

body{
	min-height:100%;
}

p,a,span,h1,h2,h3{
	font-family:'Open Sans', sans-serif;
	margin:0;
	padding:0;
}

h1{
	font-size:32pt;
}

#header{
	width:100%;
	background-color:#7C023F;
	min-width:960px;
	text-align:center;
}

#wrapper{
	height:100%;
	width:90%;
	margin:0 auto;	
}

#navbar{
	background-color: #1169A3;
	height:110px;
	width:98%;
	padding:1%;
}

#navbar span{
	padding-left:12px;
}

#navbar-left{
	float:left;
}

#navbar-right{
	width:81%;
	float:right;
	height:100%;
	
}

#login{
	padding-bottom:10px;
	text-align:right;
}

#login p{
	font-size:12pt;
}

#usuario-nombre{
	font-weight:bold;
	font-size:16pt;
	text-transform:uppercase;
}

#usuario-id{
	font-size:12pt;	
	
}

#usuario-tipo{
	font-size:11pt;
	font-style:italic;
}

#login a{
	color:#ffffff;
	font-size:10pt;
	padding-right:12px;
}

#navbar-table{
	text-align:center;
	width:100%;
}

#navbar-table li:hover{
		background-color:#cccccc;
}


#navbar img{
	height:112px;
	border-radius:5px;
	float:left;
	
}

#navbar-table td{
	border-radius:5px;
	min-width:100px;
}

#navbar-table td:hover{
	background-color:#cccccc;
	
}

#navbar-table a{
	color:#1169A3;
}
#navbar-table a:hover{
	color:#333333;
}

#content{
	min-height:550px;
	background-color:#ffffff;
	overflow:auto;
	border:15px solid #1169A3;
	padding:30px;
	width: 78%;
	float: right;
	margin-bottom: 3%;
}


.spacer{
	height:40px;
	width: 100%;
}

#footer{
	height:40 px;
	clear:both;
	background-color:#ffffff;
	padding:12px;
	text-align:center;
	border:15px solid #1169A3;
}

#footer a{
	padding-left:20px;
}
.center{
	text-align:center;
}
.left{
float:left;
}

.right{
float:right;
}

#calificar-grupo{
	width:100%;
	
	margin:0;
	padding:0;
	border:0;
	overflow-x:hidden;
}

#selector-grupo-calificar{
	padding:10px;
	background-color:#1169A3;
	color:white;

}

.menu-fijo {
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 75%;
    z-index: 9999;
}

/*COLORES*/

#navegacion{
	width: 4%;
	height: 104%;
	float: left;
}