#profesor-top{
	height:120px;
}
#profesor-content{
	clear:both;
}

#profesor-left{
	width:68%;
	padding:1%;
	float:left;
}

#profesor-right{
	width:28%;
	padding:1%;
	float:left;
	text-align:center;
}

#img-profesor{
	height:160px;
	margin-right:25px;
	border-radius:5px;
	border:2px solid black;
	
}

#tabla-info-profesor{
	text-align:right;
	vertical-align:top;
	float:right;
	height:155px;
	
}

#tabla-info-profesor td{
	padding-right:10px;
	
}

#profesor-cargos{
	font-weight:normal;
}

#profesor-nombre{
	text-transform:uppercase;
}

td.info-profesor{
	line-height:150%;
}

#tabla-materias-profesor{
	border:1px solid black;
	width:100%;
	text-align:center;
	
}

#tabla-materias-profesor th{
	background-color:#cccccc;
}

#tabla-materias-profesor th.nombre-materia{
	width:60%;
}



#profesor-right p.label{
	font-weight:bold;
}